{% extends './base.html' %}
{% load static %}


{% block title %} Basket Summary {% endblock %}

{% block content %}
{% include './navbar.html' %}
<div class="py-5 text-center container">
    <h5 class="h5 py-3">Shopping Cart</h5>
    {% for item in basket %}
    {% with product=item.product %}
    <div data-index="{{product.id}}" class="row mb-4 border product-item">
        <div class="col-md-3 col-lg-2 order-md-first bg-light">
            <img class="img-fluid mx-auto d-block" width="120px" alt="Responsive image" src="{{ product.image.url }}">
        </div>
        <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
            <a href="{{ product.get_absolute_url }}" class="text-decoration-none text-reset">
                <h1 class="h5 pt-2">{{ product.title }}</h1>
            </a>
            <div class="border">
                <div class="col border-bottom">
                    <div class="row p-3">
                        <div class="col-6">Hardback Book</div>
                        <div class="col-6 text-end"><span class="h6 fw-bold">₹{{ product.price }}</span></div>
                    </div>
                </div>
                <div class="col">
                    <div class="row p-3">
                        <div class="col-12">
                            <label for="select">Qty</label>
                            <select id="select{{product.id}}">
                                <option selected>
                                    {{item.qty}}
                                </option>
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                            </select>
                            <button type="button" id="update-button" data-index="{{product.id}}"
                                class="btn btn-outline-secondary btn-sm update-button">
                                Update
                            </button>
                            <button type="button" id="delete-button" data-index="{{product.id}}"
                                class="btn btn-outline-secondary btn-sm delete-button">
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endwith %}
    {% endfor %}
    <div class="col-12 text-end">
        <div class="h6 fw-bold">Total: ₹<div id="subtotal" class="d-inline-flex">{{basket.get_total_price}}</div>
        </div>
    </div>
</div>

<script>
    $(document).on('click', '.delete-button', function (e) {
        e.preventDefault();
        var productid = $(this).data('index');
        $.ajax({
            type: 'POST',
            url: '{% url "basket:basket_delete" %}',
            data: {
                productid: productid,
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
            },
            success: function (json) {
                console.log(json);
                $('.product-item[data-index="'+ productid +'"]').remove();
                document.getElementById("basket-qty").innerHTML = json.qty
                document.getElementById("subtotal").innerHTML = json.subtotal
            },
            error: function (xhr, errmsg, err) {}
        });
    })
    //update item
    $(document).on('click', '.update-button', function (e) {
        e.preventDefault();
        var productid = $(this).data('index');
        var productqty= $('#select' + productid + ' option:selected').text();
        $.ajax({
            type: 'POST',
            url: '{% url "basket:basket_update" %}',
            data: {
                productid: productid,
                productqty:productqty,
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
            },
            success: function (json) {
                console.log(json);
                document.getElementById("basket-qty").innerHTML = json.qty
                document.getElementById("subtotal").innerHTML = json.subtotal
            },
            error: function (xhr, errmsg, err) {}
        });
    })
</script>
{% endblock %}